:root {
  --logo-color: #d49466;
  --text-color: #ffebee;
  --background-color: #ede7f6;
  --nav-background-color: #1a237e;
}

body {
  background: var(--background-color);
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.nav_bar {
  display: flex;
  padding: 8px 12px;
  background: var(--nav-background-color);
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  padding: 0px;
  display: flex;
  color: var(--text-color);
  align-items: baseline;
  justify-content: space-around;
  font-size: 24px;
}

.nav_logo i {
  color: var(--logo-color);
  padding-right: 8px;
}

.nav_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  color: var(--text-color);
  align-items: center;
}

.nav_menu li {
  padding: 8px 12px;
}

.nav_menu li:hover {
  background-color: var(--logo-color);
  border-radius: 4px;
}

.nav_icons {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.nav_icons li {
  padding: 8px 12px;
}

.nav_bar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--logo-color);
}

@media screen and (max-width: 768px) {
  .nav_bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav_menu li {
    width: 100%;
    text-align: center;
  }

  .nav_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .nav_bar__toggleBtn {
    display: block;
  }

  .nav_menu.active,
  .nav_icons.active {
    display: flex;
  }
}
